<div class="container-fluid mt-5 about-style" id="aboutid">
     <div class="row">
       <div class="col-md-10 col-12 mx-auto">
         <h1 class="text-center main-heading">About Us</h1>
         <p class="text-center sub-heading">What we do</p>
         <div class="row">
             <div class="col-md-6 col-12 hero-text ">
             <figure>
               <img src="images/about.svg" alt="herosection_image">
             </figure>
           </div>
    
             {{!-- right side --}}
               <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
             <h1>I AM A STUDENT</h1>
             <p>THIS MY SECOND WEBSITE MADE WITH <span class="bold-style">NODEJS,MONGODB,HANDLEBARS AND OTHERS</span></p>
             <button class="btn-style btn-primary">Read More</button>
           </div>
         </div>
       </div>
     </div>
   </div>